version: "3.9"

services:
  backend:
    build: ./backend
    container_name: student_backend
    environment:
      MONGO_URI: ${MONGO_URI}
    ports:
      - "${BACKEND_PORT}:8000"
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: student_frontend
    environment:
      VITE_API_BASE_URL: ${API_BASE_URL}
    ports:
      - "3000:5173"
    depends_on:
      - backend
    restart: unless-stopped